@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@fontsource/iosevka';
@import '@fontsource/iosevka-etoile';

@theme {
  --font-sans:
    'Iosevka Etoile', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Iosevka', ui-monospace, monospace;
}

body {
  background-color: black;
}
