@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@fontsource/iosevka';
@import '@fontsource/iosevka-etoile';

@theme {
  --font-sans:
    'Iosevka Etoile', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Iosevka', ui-monospace, monospace;
}

@utility text-glow {
  @apply text-shadow-[0_0_20px] text-shadow-white;
}

@utility text-neutral {
  @apply text-white/50;
}

@layer base {
  body {
    @apply bg-black text-neutral;
  }
}
